/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* NAVBAR */
.navbar {
    position: sticky;
    z-index: 10;
    top: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 1rem 2rem;
    position: relative;
    z-index: 3000;
}

.nav-links {
    display: flex;
    gap: 25px;
    align-items: center;
    white-space: nowrap;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a.active {
    color: rgb(54, 100, 170);
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
}


.logo img {
    width: 50%;
    height: auto;
    cursor: pointer;
    background-color: black;
    padding-top: 10px;
}

/* COLLECTION PAGE */
/* COLLECTION PAGE */
.collections-page {
    padding: 30px;
    text-align: center;
}

#searchBar {
    width: 250px;
    padding: 12px;
    margin: 20px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.filters button {
    margin: 8px;
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.filters button:hover {
    background: #333;
}

.product-container {
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.product-card {
    background: black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.product-card h3 {
    margin-top: 10px;
    font-size: 18px;
}

.product-card h5 {
    color: gray;
}

.sec-wanted {
  padding: 20px;
}

.sec-wanted h1 {
  padding-bottom: 10px;
  color: rgb(136, 0, 0);
}

.wanted-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
}

.wanted-list {
  text-align: center;
  position: relative;
}
.wanted-list img {
  width: 250px;
  height: 250px;
  border: 1px solid rgb(219, 217, 217);
  padding-bottom: 5px;
  transition: 0.3s;
}

.wanted-list img:hover {
  transform: translateY(-3px);
}

.seller {
  padding: 3px;
  background-color: rgb(247, 247, 247);
  color: rgb(143, 0, 0);
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.seller:hover {
  box-shadow: 0px 3px 5px rgb(201, 131, 131);
}

.wanted-like {
  position: absolute;
  bottom: 42px;
  right: 5px;
  cursor: pointer;
}

.react-icon {
  color: rgb(229, 228, 228);
}

.react-icon:hover {
  color: rgb(145, 142, 142);
}

.react-icon.liked {
  color: rgb(187, 6, 6);
}

.wanted-list button {
  padding: 10px;
  border: none;
  font-weight: bold;
  background-color: rgb(240, 231, 133);
  color: rgb(118, 1, 1);
  cursor: pointer;
  transition: 0.3s;
}

.wanted-list button:hover {
  background-color: lightgray;
  transform: scale(1.03);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    padding: 15px 30px;
    color: white;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: center;
}


.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover,
.nav-links .active {
    color: yellow;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

/* Mobile menu */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom: 1px solid var(--border);

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 2000;
}

.mobile-menu a {
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: var(--muted);
    border-top: 1px solid var(--border);
}

.mobile-menu a.active,
.mobile-menu a:hover {
    color: var(--accent);
}

/* SHOW menu when active */
.mobile-menu.active {
    display: flex;
}

/* HOME PAGE */
.hero {
    background: url('https://images.pexels.com/photos/10648919/pexels-photo-10648919.jpeg') center/cover no-repeat;

    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    width: 100%;
}

.hero h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 10px black;
}

.hero p {
    font-size: 20px;
    margin-top: 10px;
}

.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: black;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.hero button:hover {
    background: #333;
}

/* HOME PAGE SECTION */
.section {
    padding: 50px 20px;
    text-align: center;
}

.section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-box {
    background: #f3f3f3;
    padding: 25px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.feature-box:hover {
    transform: scale(1.05);
}

.feature-box h3 {
    margin-bottom: 10px;
}

/* Brands*/
.brands {
    display: flex;
    margin-top: 2vw;
    align-items: center;
    justify-content: space-between;
 
  cursor: pointer;
  transition: 0.3s;

}
.brands img:hover {
  transform: scale(1.05);
}

.brands h2 {
    padding-left: 20px;
}

.brands-icon {
    width: 4vw;
    align-items: center;

}

.brands-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 2vw;
}

.brands-item p {
    padding: 20px;
    margin-bottom: 10px;
}

.limited-offer {
    display: flex;
    justify-content: center;

    align-items: center;
    background-color: black;
    color: #E2E1E1;
    padding: 20px;
    font-size: 2vw;
}

.limited-offer img {
    width: 100%;
    height: 100%100%;
}

.limited-offer-text {
    padding: 5%;
}

.limited-offer-text button:hover {
    background-color: #333;
    color: #fff;

}

.limited-offer button {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    margin-top: 10px;
    font-size: 1.2vw;
    color: #1D232C;
    border-radius: 10px;

    border: none;



}


/* CONTACT PAGE */
.contact-container {
    max-width: 500px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.contact-container label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
      margin: 10px 0 5px;
}

.contact-container button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    background: black;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.contact-container button:hover {
    background: #333;
}

/* ------------------------------
        REVIEWS PAGE
--------------------------------*/

.reviews-section {
    padding: 50px 0;
    text-align: center;
}

.reviews-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
}

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.review-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
}

.review-card:hover {
    transform: translateY(-5px);
}

.review-card img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.review-card h3 {
    margin: 10px 0 5px;
}

.stars {
    color: #ffb703;
    font-size: 20px;
    margin-bottom: 10px;
}

.review-card p {
    font-size: 15px;
    line-height: 1.5;
}


.main-footer {
    background: #111;
    color: white;
    padding: 50px 40px 20px;
    margin-top: 50px;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 40px;
    margin-bottom: 30px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-column a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-column a:hover {
    color: yellow;
}

.product-section h2 {
    margin-bottom: 20px;
    padding-left: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.product-card {
    background: white;
    border-radius: 12px;
    padding: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.07);
}

.product-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.price-tag {
    background: #fff;
    display: inline-block;
    padding: 5px 12px;
    border-radius: 8px;
    font-weight: 600;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.product-card h3 {
    font-size: 16px;
    margin-top: 5px;
}

.product-card p {
    background-color: black;
    color: white;
}

.product-card p:hover {
    background-color: gray;
    color: white;
    cursor: pointer;


}

/* feedback-page */
.feedback-page {
    padding: 30px;

}

#searchBar {
    width: 250px;
    padding: 12px;
    margin: 20px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

@media (max-width: 700px) {
    .nav-links {
        display: none;
    }

    .menu-icon {
        display: block;
         z-index: 3000;
        cursor: pointer;
    }
     .mobile-menu {
        display: none;
    }

    .product-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .footer-top {
        display: grid;
        grid-template-columns: repeat(2, minmax(180px, 1fr));

    }
}